{% extends 'base.html' %}

{% block title %}HomeWork_05 - ABOUT{% endblock %}

{% block body %}
<div class="badge bg-info text-center text-wrap fw-bolder fs-2 m-4 " style="width: 25rem;">
  О КОМПАНИИ OTUS
</div>
<div class="container">
    <div class="row">
        <div class="col">
     <p class="text-center fst-italic lh-base">
OTUS сегодня – это более 130 авторских курсов для IT-специалистов из разных направлений таких как программирование, тестирование, инфраструктура, информационная безопасность, управление и Data Science. И что важно, у нас есть программы для разных уровней подготовки от новичков до профессионалов, которые хотят освоить продвинутые навыки.
Наша миссия — делать обучение осмысленным, реализуя взаимосвязь между ожиданиями работодателей, компетенциями специалистов и возможностями преподавателей.
</p>
        </div>
    </div>

</div>
{% endblock %}