<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>HoweWork - 06 (добавить образовательный продукт)</title>
</head>
<body>
<h1>Create...</h1>
<form action="/add/" method="post">
    <label for="ep_name">Образовательная программа:</label>
    <input type="text" id="ep_name" name="ep_name"><br><br>
    <label for="ep_name">Продолжительность (дн.):</label>
    <input type="text" id="ep_duration" name="ep_duration"><br><br>
    <label for="ep_name">Стоимость:</label>
    <input type="text" id="ep_price" name="ep_price" placeholder="руб."><br><br>
    <button type="submit">Добавить</button>
</form>
</body>
</html>