<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>HoweWork_06</title>
    <link rel="stylesheet" href="static/css/css.css">
</head>
<body>
    <h1>HomeWork_06</h1>
    <p style="text-align: left"><input class="styled" type="button" value="Добавить образовательный продукт" onclick="window.location='/create'">
    <p style="text-align: left"><input class="styled" type="button" value="Список существующих программ" onclick="window.location='/list'">
</body>
</html>